# 3. Control Statements and Program Development

### Objectives 
* Decide whether to execute actions with the statements `if`, `if`…`else` and if…elif…else.
* Execute statements repeatedly with `while` and `for`.
* Shorten assignment expressions with augmented assignments.
* Use the `for` statement and the built-in `range` function to repeat actions for a sequence of values.
* Perform sentinel-controlled iteration with `while`.

### Objectives (cont.)
* Learn problem-solving skills: understanding problem requirements, dividing problems into smaller pieces, developing algorithms to solve problems and implementing those algorithms in code. 
* Develop algorithms through the process of top-down, stepwise refinement. 
* Create compound conditions with the Boolean operators `and`, `or` and `not`.

### Objectives (cont.)
* Stop looping with `break`.
* Force the next iteration of a loop with `continue`.
* Use some functional-style programming features to write scripts that are more concise, clearer, easier to debug and easier to parallelize.

# 3.5 `if` Statement
* Pseudocode: Suppose that a passing grade on an examination is 60. The pseudocode

> If student’s grade is greater than or equal to 60  
> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Display 'Passed'

* If the condition is true, 'Passed' is displayed. Then, the next pseudocode statement in order is “performed.”
* If the condition is false, nothing is displayed, and the next pseudocode statement is “performed.” 
* Indentation emphasizes that 'Passed' is displayed only if the condition is true.

**Corresponding `if` Statement**

In [ ]:
grade = 85

In [ ]:
if grade >= 60:
    print('Passed')

### Suite Indentation
* Indenting a suite is required.

In [ ]:
if grade >= 60:
print('Passed')  # statement is not indented properly

* Statements in a suite must have the same indentation.

In [ ]:
if grade >= 60:
    print('Passed')
  print('Good job!)

### `if` Statement Flowchart
![Flowchart segment showing an if statement](./ch03images/AAHBDOC0.png "Flowchart segment showing an if statement")

* The decision (diamond) symbol contains a condition that can be either `True` or `False`. 
* Two flowlines emerging from it: 
    * One indicates the direction to follow when the condition in the symbol is `True`. 
    * The other indicates the direction to follow when the condition is `False`.

### Every Expression Can Be Treated as `True` or `False`

In [ ]:
if 1:
    print('Nonzero values are true, so this will print')

In [ ]:
if 0:
    print('Zero is false, so this will not print')

### An Additional Note on Confusing `==` and `=` 
* Using `==` instead of `=` in an assignment statement can lead to subtle problems. 
* Writing `grade == 85` when we intend to define a variable with `grade = 85` would cause a `NameError`.
* Logic error: If `grade` had been defined **before** the preceding statement, then `grade == 85` would evaluate to `True` or `False`, depending on `grade`’s value, and not perform the intended assignment.

# 3.6 `if`…`else` and `if`…`elif`…`else` Statements
* Performs different suites, based on whether a condition is `True` or `False`.
* Pseudocode:

> _If student’s grade is greater than or equal to 60  
> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Display 'Passed'  
> Else  
> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Display 'Failed'_

* Correspondong Python code with variable `grade` initalized to `85`

In [ ]:
grade = 85

In [ ]:
if grade >= 60: 
    print('Passed')
else:
    print('Failed')

* Assign `57` to `grade`, then shows the `if`…`else` statement again to demonstrate that only the `else` suite executes

### `if`…`elif`…`else` Statement
* Can test for many cases.
* Only the action for the first `True` condition executes.

In [ ]:
grade = 77

In [ ]:
if grade >= 90:
    print('A')
elif grade >= 80:
    print('B')
elif grade >= 70:
    print('C')
elif grade >= 60:
    print('D')
else:
    print('F')

### `if`…`elif`…`else` Statement Flowchart
![Flowchart of the if…`elif`…else statement’s flow of control.](./ch03images/AAHBDOH0.png "Flowchart of the if…`elif`…else statement’s flow of control")

### `else` Is Optional
* Handle values that do not satisfy any of the conditions. 
* Without an `else`, if no conditions are `True`, the program does not execute any of the statement’s suites.

# Ternary Operator for if.. then
## Here is a Pythonic way to write a simple if then in one line

In [1]:
# if then
a = 10
b = 20

if a < b:
  min = a
else:
  min = b
print (min)

10

In [2]:
# One liner version
min = a if a < b else b
print (min)

10

# 3.7 `while` Statement
* Repeats one or more actions while a condition remains `True`.

In [ ]:
product = 3

In [ ]:
while product <= 50:
    product = product * 3

In [ ]:
product

* To prevent an infinite loop, something in the `while` suite must change `product`’s value, so the condition eventually becomes `False`.

### `while` Statement Flowchart
![Flowchart of the while statement’s flow of control.](./ch03images/AAHBDOE0.png "Flowchart of the while statement’s flow of control")

# 3.8 `for` Statement
* Repeat an action or several actions for each item in a sequence of items.
* A string is a sequence of individual characters.

In [ ]:
for character in 'Programming':
    print(character, end='  ')

* Upon entering the `for` loop, Python assigns the 'P' in 'Programming' to the **target variable** between keywords `for` and `in`.
* After executing the suite, Python assigns to character the next item in the sequence (that is, the '`r`' in '`Programming`'), then executes the suite again. 
* Continues while there are more items in the sequence.
* Using the target variable in the suite is common but not required.

### `for` Statement Flowchart
![Flowchart of the for statement’s flow of control.](./ch03images/AAHBDOF0.png "Flowchart of the for statement’s flow of control")

### Function `print`’s `end` Keyword Argument 
* `print` displays its argument(s), then moves the cursor to the next line. 
* Can change this behavior with the argument `end`:
>```python
print(character, end='  ') 
```
* `end` is a **keyword argument**, but it's not a Python keyword. 
* The _Style Guide for Python Code_ recommends placing no spaces around a keyword argument’s =. 
* Keyword arguments are sometimes called named arguments.

### Function `print`’s `sep` Keyword Argument 
* Keyword argument `sep` (short for separator) specifies the string that appears between the items that print displays. 
* A space character by default. 
* To remove the spaces, use an empty string with no characters between its quotes.

In [ ]:
print(10, 20, 30, sep=', ')

## 3.8.1 Iterables, Lists and Iterators
* The sequence to the right of the `for` statement’s in keyword must be an iterable. 
    * An object from which the `for` statement can take one item at a time. 
* One of the most common iterables is a list, which is a comma-separated collection of items enclosed in square brackets (`[` and `]`).

In [ ]:
total = 0

In [ ]:
for number in [2, -3, 0, 17, 9]:
    total = total + number

In [ ]:
total

* Each sequence has an iterator. 
* The for statement uses the iterator “behind the scenes” to get each consecutive item until there are no more to process.

## 3.8.2 Built-In `range` Function and Generators
* Creates an iterable object that represents a sequence of consecutive integer values starting from 0 and continuing up to, but not including, the argument value.

In [ ]:
for counter in range(10):
    print(counter, end=' ')

### Off-By-One Errors
A logic error known as an off-by-one error occurs when you assume that `range`’s argument value is included in the generated sequence.

# 3.9 Augmented Assignments 
* Abbreviate assignment expressions in which the same variable name appears on the left and right of the `=`.

In [ ]:
total = 0

In [ ]:
for number in [1, 2, 3, 4, 5]:
    total += number  # add number to total and store in number

In [ ]:
total

* In the following table assume: `c = 3`, `d = 5`, `e = 4`, `f = 2`, `g = 9`, `h = 12`

| Augmented assignment | Sample expression| Explanation| Assigns
| :----- | :----- | :----- | :-----
| `+=` | `c += 7` | `c = c + 7` | `10 to c`
| `-=` | `d -= 4` | `d = d - 4` | `1 to d`
| `*=` | `e *= 5`  | `e = e * 5` | `20 to e`
| `**=` | `f **= 3` | `f = f ** 3` | `8 to f`
| `/=` | `g /= 2` | `g = g / 2` | `4.5 to g`
| `//=` | `g //= 2` | `g = g // 2` | `4 to g`
| `%=` | `h %= 9` | `h = h % 9` | `3 to h`

## 3.10.4 Introduction to Formatted Strings
* An **f-string** (short for formatted string) allows inserting values into a string.
* The letter f before the string’s opening quote indicates it’s an f-string. 
* You specify where to insert values by using placeholders delimited by curly braces ({ and }). 
* `{average}` converts the variable average’s value to a string representation, then replaces `{average}` with that *&replacement text**. 
* Replacement-text expressions may contain values, variables or other expressions.

In [ ]:
x = 22.5
name = "rondo"
print (f"the student {name} scored {x}")

# 3.13 Built-In Function `range`: A Deeper Look
* Function `range`’s two-argument version produces a sequence of consecutive integers from its first argument’s value up to, but not including, the second argument’s value

In [ ]:
for number in range(5, 10):
    print(number, end=' ')

* Function `range`’s three-argument version produces a sequence of integers from its first argument’s value up to, but not including, the second argument’s value, incrementing by the third argument’s value (the step)

In [ ]:
for number in range(0, 10, 2):
    print(number, end=' ')

* If the third argument is negative, the sequence progresses from the first argument’s value down to, but not including the second argument’s value, decrementing by the third argument’s value

In [ ]:
for number in range(10, 0, -2):
    print(number, end=' ')

# 3.14 Using Type Decimal for Monetary Amounts
* Python’s built-in floating-point numbers work well for most applications. 
* Floating-point values are stored in binary format. 
* Some floating-point values are represented only approximately when they’re converted to binary.

In [1]:
amount = 112.31

In [2]:
print(amount)

112.31

* Print `amount` with 20 digits of precision to the right of the decimal point to see that the actual floating-point value in memory is not exactly `112.31`—it’s only an approximation:

In [3]:
print(f'{amount:.20f}')

112.31000000000000227374

* The **Python Standard Library** provides many predefined capabilities you can use in your Python code to avoid “reinventing the wheel.” 
* Type **`Decimal`**, which uses a special coding scheme to solve the problem of to-the-penny precision. 
    * Banks also have to deal with issues like using a _fair rounding algorithm_ when calculating daily interest on accounts&mdash;type `Decimal` offers such capabilities.

### Importing Type Decimal from the decimal Module 
* The Python Standard Library is divided into groups of related capabilities called **modules**. 
* The **`decimal`** module defines type `Decimal` and its capabilities. 
* Must **`import`** to use capabilities from a module.

In [4]:
from decimal import Decimal

### Creating Decimals

* Typically create a `Decimal` from a string.

In [5]:
principal = Decimal('1000.00')

In [6]:
principal

Decimal('1000.00')

In [7]:
rate = Decimal('0.05')

In [8]:
rate

Decimal('0.05')

### Decimal Arithmetic 
* `Decimal`s support the standard arithmetic operators and augmented assignments.

In [9]:
x = Decimal('10.5')

In [10]:
y = Decimal('2')

In [11]:
x + y

Decimal('12.5')

In [12]:
x // y

Decimal('5')

In [13]:
x += y

In [14]:
x

Decimal('12.5')

* May perform arithmetic between `Decimal`s and integers, but _not_ between `Decimal`s and floating-point numbers.

# 3.15 `break` and `continue` Statements

* Executing a `break` statement in a `while` or `for` immediately exits that statement.

In [ ]:
for number in range(100):
    if number == 10:
        break
    print(number, end=' ')

* Executing a `continue` statement in a `while` or `for` loop skips the remainder of the loop’s suite. 
    * In a `while`, the condition is then tested to determine whether the loop should continue executing. 
    * In a `for`, the loop processes the next item in the sequence (if any)

In [ ]:
for number in range(10):
    if number == 5:
        continue
    print(number, end=' ')

# 3.16 Boolean Operators `and`, `or` and `not`

### Boolean Operator `and`
* Ensure that two conditions are both `True` with the **Boolean `and` operator**.

In [ ]:
gender = 'Female'

In [ ]:
age = 70

In [ ]:
if gender == 'Female' and age >= 65:
    print('Senior female')

* _Truth table_ for the `and` operator:

expression1 | expression2 | expression1 `and` expression2
:-------- | :-------- | :--------
`False` 	| `False` 	| `False` 
`False` 	| `True`  	| `False` 
`True`  	| `False` 	| `False` 
`True`  	| `True`  	| `True`

### Boolean Operator `or`
* Ensure that one _or_ both of two conditions are `True` with the **Boolean `or` operator**.

In [ ]:
semester_average = 83

In [ ]:
final_exam = 95

In [ ]:
if semester_average >= 90 or final_exam >= 90:
    print('Student gets an A')

* _Truth table_ for the `or` operator:

expression1 | expression2 | expression1 or expression2
:-------- | :-------- | :--------
`False` 	| `False` 	| `False` 
`False` 	| `True` 	| `True` 
`True` 	| `False` 	| `True` 
`True` 	| `True` 	| `True`

### Improving Performance with Short-Circuit Evaluation
* Python stops evaluating an `and` expression as soon as it knows whether the entire condition is `False`. 
* Python stops evaluating an `or` expression as soon as it knows whether the entire condition is `True`. 
* In expressions that use `and`, make the condition that’s more likely to be `False` the leftmost condition. 
* In `or` operator expressions, make the condition that’s more likely to be `True` the leftmost condition.

### Boolean Operator `not` 
* “Reverse” the meaning of a condition.
* **Unary operator**—it has only _one_ operand.

In [ ]:
grade = 87

In [ ]:
if not grade == -1:
    print('The next grade is', grade)

In [ ]:
if grade != -1:
    print('The next grade is', grade)

* Truth table for the `not` operator. 

expression | not expression
:-------- | :---------
`False` 	| `True` 
`True` 	| `False`

* Precedence and grouping of the operators introduced so far&mdash;shown in decreasing order of precedence. 

| Operators  | Grouping
| :--------- | : ---------
| `()` | left to right
| `**` | right to left
| `*` &nbsp;&nbsp;&nbsp; `/` &nbsp;&nbsp;&nbsp; `//` &nbsp;&nbsp;&nbsp;% | left to right
| `+` &nbsp;&nbsp;&nbsp; `-` | left to right
| `<` &nbsp;&nbsp;&nbsp; `<=` &nbsp;&nbsp;&nbsp; `>` &nbsp;&nbsp;&nbsp; `>=` &nbsp;&nbsp;&nbsp; `==` &nbsp;&nbsp;&nbsp; `!=` | left to right
| `not` | left to  right
| `and` | left to right
| `or` | left to right

# 3.17 Intro to Data Science: Measures of Central Tendency—Mean, Median and Mode 
* **Measures of central tendency**:
    * **mean**—the _average value_ in a set of values. 
    * **median**—the _middle value_ when all the values are arranged in sorted order.
    * **mode**—the _most frequently occurring value_.
* Each represents a “central” value in a set of values.
    * A value which is in some sense typical of the others.

In [ ]:
grades = [85, 93, 45, 89, 85]

In [ ]:
sum(grades) / len(grades)

* `sum` and `len` are both examples of functional-style programming reductions
* The Python Standard Library’s **`statistics`** module provides functions for calculating the **reductions** mean, median and mode.

In [ ]:
import statistics

In [ ]:
statistics.mean(grades)

In [ ]:
statistics.median(grades)

In [ ]:
statistics.mode(grades)

* Sorting `grades` helps you see the median and mode.

In [ ]:
sorted(grades)